<div class='text-center flex flex-col'>
    <div class='border-black border-2 border-solid m-6 p-6'>
        <p>{{posts.user.username}}</p>
        <h1>{{posts.title}}</h1>
        <h3>{{posts.content}}</h3>
        <p>Created on {{format_date posts.createdAt}}</p>
    </div>
    {{#if logged_in}}
    <p>add a comment!</p>
    <input class='place-self-center border-black border-2 border-solid' id='newComment'>
    <button id='commentBtn' data-id="{{posts.id}}" class='bg-blue-400 border-black border-solid border-2'>tell em what
        you think</button>
    {{/if}}
    <div class='border-black border-2 border-solid m-6 p-6'>
        {{#each posts.comments as |comments|}}
        <div class='border-black border-2 border-solid m-6 p-6'>
            <p>{{this.user.username}}</p>
            <p>{{comments.new_comment}}</p>
        </div>
        {{/each}}
    </div>
</div>
</div>